body {
  background-color: lightcoral;
  min-height: 100vh;
  margin: 10px
}

.square {
  width: 500px;
  min-height: 300px;
  background-position: center;
  background-color: beige;
  margin: auto;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 10px;
}
